# Secrets & credentials
.env
.secrets/

# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Testing
.pytest_cache/

# Streamlit
.streamlit/secrets.toml

# IDE
.idea/
.vscode/
*.sublime-*

# OS
.DS_Store
Thumbs.db